@import 'variables.scss';

.paper-customization {
    top: 1px;
    padding: 25px 35px 15px 35px;
    box-sizing: border-box !important;
    width: 100%;
    z-index: 50;
}

.button-container {
    padding-top: 10px !important;
}

@media (min-width: 1280px) {
    .paper-customization {
        position: sticky;
    }
}

.MuiPickersCalendarHeader-daysHeader {
    padding: 0;
    background-color: $dayscolor;
    padding-top: 10px;
    padding-bottom: 10px;

    & * {
        color: $textColor;
        font-size: 14px !important;
    }
}

.MuiButtonBase-root.MuiIconButton-root.MuiPickersCalendarHeader-iconButton {
    padding: 5px;
    color: $textColor;
}

.MuiPickersCalendarHeader-switchHeader {
    padding: 2px !important;
    margin: 0 !important;
}

.MuiTypography-root.MuiTypography-body1.MuiTypography-alignCenter::first-letter {
    text-transform: uppercase !important;
}

.MuiPickersSlideTransition-transitionContainer.MuiPickersCalendarHeader-transitionContainer {
    color: $textColor;
}

// .MuiPickersDay-day {
//     border-radius: 0px !important;
// }

.MuiPickersDay-daySelected {
    background-color: $textColor;
}
