@import '~react-image-gallery/styles/scss/image-gallery.scss';
@import 'variables.scss';

.custom-image-gallery {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
    background-color: $imagegallery;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    &-clickout {
        width: 100%;
        height: 100%;
        position: fixed;

        &-close {
            position: absolute;
            top: 10px;
            right: 10px;
            color: white;
            font-size: 40px;
            cursor: pointer;
        }
    }
}

.image-gallery-content {
    padding-bottom: 50px !important;

    &.fullscreen .image-gallery-thumbnails {
        transform: translateY(-20px);
    }
}

.image-gallery-image {
    top: 0;
    left: 0;
    box-sizing: border-box;
}
