@import 'variables.scss';

.order-failure {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-icon * {
        padding: 5px;
        box-sizing: border-box;
        color: $failureColor;
        width: 150px;
        height: 150px;
    }

    &-text {
        text-align: center;
        padding: 5px;
        box-sizing: border-box;
        color: $failureColor;
        font-weight: 700;
    }

    &-button {
        padding: 5px;
        box-sizing: border-box;
    }
}
