@import 'variables.scss';

.search-rooms-container {
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px;
    background-color: $searchRoomsBg;
    position: relative;

    &-message {
        width: 100%;
        text-align: center;
        font-size: 14px;
        padding: 7px;
        box-sizing: border-box;
    }
}

.relative-container {
    position: relative !important;
}

.selected-hotel {
    width: 100%;
    padding: 15px;
    text-align: center;
}

.back-to-choose {
    width: 100%;
    padding: 10px 15px;
}
