.customer-info {
    box-sizing: border-box;
    margin-top: 15px;
    padding: 10px;

    &-btn-container {
        padding-top: 15px;
        padding-left: 20px;
    }

    &-icon {
        transform: translateY(-1px);

        &-btn-containe {
            width: 100%;
        }
    }

    &-back {
        box-sizing: border-box;
        padding-left: 7px;
    }

    &-form {
        box-sizing: border-box;
        padding: 20px;

        &-control {
            box-sizing: border-box;
            margin: 6px 0px 12px 0px !important;
        }
    }
}

.shopping-cart-container {
    display: flex;
}
