@import 'variables.scss';

.category-item {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    margin-top: 24px;
    margin-bottom: 20px;
    padding: 0px 10px;

    &-description-column {
        display: flex;
        flex-direction: column;
    }

    &-image {
        width: 100%;
        background-color: $categoryItemImageBackground;
        height: 200px;
        border-radius: 5px;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
        cursor: pointer;

        &-hover {
            width: 100%;
            height: 100%;
            border-radius: 5px;
            transition: all 0.2s ease;

            &:hover {
                background-color: $categoryItemImageBackground;
            }
        }
    }

    &-name {
        box-sizing: border-box;
        padding: 7px 5px 7px 5px;
        font-weight: 700;
        font-size: 18px;
    }

    &-availability {
        box-sizing: border-box;
        padding: 7px 5px 7px 5px;
        font-size: 14px;
    }

    &-address {
        box-sizing: border-box;
        padding: 7px 5px 7px 5px;
        font-size: 14px;
    }

    &-description {
        box-sizing: border-box;
        padding: 7px 5px 7px 5px;
        font-size: 14px;
        height: 100%;
    }

    &-footer {
        box-sizing: border-box;
        padding: 10px 20px 10px 10px;
        width: 100% !important;

        &-price {
            box-sizing: border-box;
            display: flex;
            align-items: center;
            font-weight: 700;
            font-size: 20px;
        }
    }
}
