@import 'variables.scss';

.shopping-cart {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    margin-top: 15px;
    padding: 0px 12px 0px 12px;
    top: 125px;
    position: sticky;

    &-total-invoice {
        width: 100%;
        padding: 10px 5px;
        display: flex;
        flex-direction: row;
        box-sizing: border-box;

        &-total {
            width: 100%;
            font-size: 14px;
            font-weight: 700;
        }

        &-value {
            font-size: 14px;
            font-weight: 700;
            white-space: nowrap;
        }
    }

    &-selected-room {
        width: 100%;
        padding: 5px 10px;
        background-color: $shoppingcartbg;
        border-radius: 5px;
        margin-top: 8px;
        margin-bottom: 8px;
        box-sizing: border-box;
        overflow-y: auto;

        &-name {
            font-weight: 700;
            font-size: 14px;
            padding-bottom: 10px;
        }

        &-count {
            font-size: 12px;
            white-space: nowrap;
        }

        &-price {
            text-align: right;
            width: 100%;
            font-weight: 700;
            font-size: 12px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
        }

        &-flex {
            width: 100%;
            display: flex;
            flex-direction: row;
        }
    }

    &-button-container {
        box-sizing: border-box;
        padding: 15px 10px 15px 10px !important;
    }

    &-nothing {
        padding: 10px 12px 10px 12px;
        text-align: center;
        font-size: 14px;
    }

    &-header {
        box-sizing: border-box;
        width: 100%;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        padding: 10px 12px 10px 12px;
    }

    &-rows {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    &-row {
        box-sizing: border-box;
        padding-top: 4px;
        padding-bottom: 5px;

        &-label {
            box-sizing: border-box;
            padding-left: 10px;
            font-size: 14px;
        }

        &-value {
            box-sizing: border-box;
            padding-left: 5px;
            font-size: 14px;
            font-weight: 700;
        }
    }
}
