@import 'variables.scss';

.main {
    box-sizing: border-box !important;

    @media (max-width: 1170px) {
        & {
            width: 100%;
        }
    }

    @media (min-width: 1171px) {
        & {
            width: 1170px;
        }
    }

    &-credentials {
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        justify-content: center;

        &-link {
            text-align: center;
            color: $linkcolor;
            text-decoration: none;
            font-size: 12px;
            display: block;
        }
    }
}

.reservation-module-button {
    background-color: $buttonbg;
    color: $buttoncolor;

    &:hover {
        background-color: $buttonbghover;
    }

    &:disabled {
        background-color: $buttonbgdisabled;
        color: $buttoncolordisabled;
    }
}

.linear-progress-container {
    padding-top: 15px;
    height: 4px;
}
