@import 'variables.scss';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body,
html,
#easyms-reservation-module {
    width: 100%;
    height: 100%;
    box-sizing: border-box !important;
    background-color: $rootbgcolor;
}

#easyms-reservation-module {
    width: 100%;
    height: 100%;
    padding-top: 20px;

    display: flex;
    justify-content: center;
}
