/* root component backgound color */
$rootbgcolor: rgb(225, 225, 225);

/* credentials link color */
$linkcolor: rgb(94, 94, 94);

/* button color schema */
$buttonbg: rgb(255, 200, 0) !important;
$buttoncolor: rgb(0, 0, 139) !important;
$buttonbghover: rgb(234, 183, 0) !important;
$buttonbgdisabled: rgb(255, 234, 160) !important;
$buttoncolordisabled: rgb(148, 148, 148) !important;

/* order create failure coolor */
$failureColor: rgb(190, 0, 0);

/* order create success color */
$successColor: rgb(0, 171, 0);

/* search rooms container background color */
$searchRoomsBg: rgb(242, 242, 242);

/* category item image background color */
$categoryItemImageBackground: rgba(255, 255, 255, 0.5);

/* image gallery background color */
$imagegallery: rgba(0, 0, 0, 0.8);

/* shopping cart background */
$shoppingcartbg: rgb(224, 224, 224);

/* date picker customiztion colors */

$dayscolor: rgb(215, 215, 255) !important;
$textColor: rgb(26, 0, 132) !important;
